{% extends "playlist/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}

<div class="bg-light p-5 rounded">
  <h1>Navbar example</h1>
  <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>

  <section class="contact-section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">1</h4>
                        <h5 class="text-uppercase m-0">Connect to your audio platform</h5>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">
                            {% if spotify_id %}
                                <a class="btn btn-lg btn-success" role="button">Spotify Connected</a>                                
                                spotify id: {{ spotify_id }}
                            {% else %}
                                <a class="btn btn-lg btn-primary" href="https://localhost:8000/oauth/" role="button">Spotify Connexion</a>                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">2</h4>
                        <h5 class="text-uppercase m-0">Get your playlists from the platform</h5>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">
                            {% if spotify_playlist_total > 0 %}
                                <a class="btn btn-lg btn-success" role="button">{{ spotify_playlist_total }} Playlists</a>                                
                                spotify id: {{ spotify_id }}
                            {% else %}
                                <a class="btn btn-lg btn-primary" href="https://localhost:8000/playlist/spfy-playlists/?spotify_id={{ spotify_id }}&offset={{ spotify_offset }}" role="button">Get Playlists</a>                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">3</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">4</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">+1 (555) 902-8832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <center>
            </br>
                <ul>
                    {% for playlist in playlists %}
                        <li><img src="{{ playlist.image_url }}" alt="{{ playlist.description }}"> - {{ playlist.name }}</li>
                    {% empty %}
                        <li>No playlist yet.</li>
                    {% endfor %}
                </ul>
            </center>    
        </div>    
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
  </section>
</div>

{% endblock %}
