
{% if spotify_id %}
<ul class="pagination">
    <li class="page-item"><a class="page-link" 
        href="https://localhost:8000/playlist/spfy-tracks/?spotify_id={{ spotify_id }}&track_offset={{ track_prvoffset }}">
        Previous</a></li>
    <li class="page-item"><a class="page-link" 
        href="https://localhost:8000/playlist/spfy-tracks/?spotify_id={{ spotify_id }}&track_offset={{ track_nxtoffset }}">
        Next</a></li>
</ul>
{% endif %}
<div class="list-group" id="tracks">
<!--    
    {% for track in tracks %}
    <a href="https://localhost:8000/playlist/spfy-tracks/?track_id={{ track.id }}" class="list-group-item list-group-item-action">
        <div class="row" >
            <div class="col-sm-4">
                <img class="img-thumbnail" src="{{ track.image_url }}" alt="{{ track.name }}">
            </div>  
            <div class="col-sm-8">
                <h6>{{ track.name }}</h6>
                <p>ISCR: {{ track.external_id }}</p>
            </div>
        </div>
    </a>
    {% empty %}
    No tracks yet.
    {% endfor %}
-->
</div>                    
